<!-- <%=@airport_id%> <%=@passengers%> <%=@flight_date%> <%=@flight_id%> -->

<%= form_for(@flight, url: new_booking_path, method: :get) do |f|%>

<%= f.hidden_field :passengers, value:params[:passengers] %>
<%= f.hidden_field :flight_id, value:"4" %>
<%= f.hidden_field :flight_date, value:params[:flight_dates] %>
<%= f.hidden_field :flight_arrival, value:params[:flight][:airport] %>
<%= f.hidden_field :flight_departure, value:params[:flight][:departure] %>

<div class="card text-center cardtext" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Flight id</h5>

    <%= f.label :flight_id ,value:@flight_id %>
    <p class="font-weight-bold">Date</p>
    <%= f.label :flight_dates ,value:@flight_date[0..10] %>
    <br>

    <p class="font-weight-bold">Departing From
    </p>
    <%= f.label :departure ,value: @flight_departure %>
    <br>
    <br>
    <p class="font-weight-bold">Arrival Destination-</p>
    <%= f.label :airport ,value:@flight_arrival%>
    <br>
    <br>
    <%= f.radio_button("id","flighdsfvc")%>
    <%= f.submit 'Select flight', class: "btn btn-primary"%>

  <% end %>
</div>
</div>